<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
<connectionStrings>
  <add name="AppConnection" connectionString="Data Source=SMK\SQLEXPRESS;Initial Catalog=Logviet2015;Integrated Security=False;User ID=sa;Password=abcde12345-;" providerName="System.Data.SqlClient" />
</connectionStrings>
</configuration>